/* Grayscale Palette */
:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}

/* Custom Styles */
body {
  background-color: var(--gray-100);
  color: var(--gray-800);
}

/* footer { */
/* background-color: var(--gray-900); */
/* color: var(--gray-100); */
/* height: 50px; */
/* } */

.navbar-light {
  background-color: var(--gray-200);
}

.navbar-brand {
  font-weight: bold;
}

.btn-danger {
  background-color: var(--gray-700);
  border-color: var(--gray-600);
}

.btn-danger:hover {
  background-color: var(--gray-800);
  border-color: var(--gray-700);
}
main {
  min-height: 100vh;
}
